/*Container holds search bar, search results, and FAQ content*/
.container {
	position: relative;
	margin: 0 auto;
}
/*Search bar and search result styles*/
.searchWrapper {
	margin-bottom: 1em;
	padding: 0 0.5em;
	width: 100%;
}

.searchBar {
	width: 100%;
	margin: 1em 0 0;
	font-size: 16px;
}

#searchResults {
/*	width: 100%;
*/}

.searchContainer {
	display: flex;
	justify-content: left;
	padding: 5px 0px;
	color: ;
	border-bottom: 0.5px rgba(200,200,200,0.8) solid;
}

.searchLink {
	text-align: left;
	color: #959595;
	text-decoration: none;
}

.searchLink:hover {
	color:#0066CC;
}

@media screen and (min-width: 600px) {
	.container {
		width: 80vw;
	}

	.searchWrapper {
		margin: 2em 0;
	}
}

@media screen and (min-width: 900px) {
	.container {
		width: 70vw;
	}
}


/*Style the latest news section of the FAQ page*/

.latest-news ul {
	padding-left: 2em;
}

.latest-news li {
	margin-bottom: 1em;
}


/*Style the content section of the FAQ page*/

/*for toggling display*/
.hidden {
	display:  none;
}

/*style faq element container*/

/*create space from search bar container above*/
.faqContainer {
	width: 100%;
	margin: 1em 0 0;
}

/*highlight important details red*/
.red {
	color: #cc5a5a;
}

.faq-question {
	padding: 1em 0.5em;
	border-bottom: 3px solid #393939;
	font-weight: bold;
	margin-bottom: 1em;
}

.faq-question:hover {
	cursor: pointer;
	background-color: var(--background);
	color: white;
}

.question-clicked {
	background-color: var(--background);
	color: var(--light-text);
}

dt {
	margin-bottom: 50px;
}

.answer-content {
	padding-left: 0.5em;
}

.answer-content p img{
	width: 100%;
	/*position: relative;
	margin: 50px auto;*/
}

.answer-content li {
	width: 85%;
	position: relative;
	margin: 0 auto 1em;
}

@media screen and (min-width: 600px) {
	.answer-content {
		padding-left: 1em;
	}
}

