/*Container holds search bar, search results, and FAQ content*/
.container {
	/*style the container*/
	width: 90vw;
	position: relative;
	margin: 100px auto;
	/*set flex properties*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*Search bar and search result styles*/
#searchWrapper {
	/*position: relative;
	margin: 0 auto;
	margin-bottom: 20px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%;
}

.searchBar {
	width: 100%;
	margin: 50px 0px 0px;
}

#searchResults {
/*	width: 100%;
*/}

.searchContainer {
	display: flex;
	justify-content: left;
	padding: 5px 0px;
	color: ;
	border-bottom: 0.5px rgba(200,200,200,0.8) solid;
}

.searchLink {
	text-align: left;
	color: #959595;
	text-decoration: none;
}

.searchLink:hover {
	color:#0066CC;
}

@media screen and (min-width: 600px) {
	.container {
		width: 80vw;
	}
}

@media screen and (min-width: 900px) {
	.container {
		width: 70vw;
	}
}



/*Style the content section of the FAQ page*/

/*for toggling display*/
.hidden {
	display:  none;
}

/*style faq element container*/

/*create space from search bar container above*/
.faqContainer {
	width: 100%;
	margin: 25px 0 0;
	padding: 1em;
}

/*highlight important details red*/
.red {
	color: red;
}

.faq-question {
	padding: 10px 0;
	border-bottom: 3px solid #393939;
	font-weight: bold;
	margin-bottom: 1em;
}

div .faq-question:hover {
	cursor: pointer;
}

dt {
	margin-bottom: 50px;
}

.answer-content p img{
	width: 100%;
	/*position: relative;
	margin: 50px auto;*/
}

.answer-content li {
	width: 80%;
	position: relative;
	margin: 0 auto 1em;
}

/*i added this because <li> links were not using our link color*/
/*.answer-content a {
	color:var(--link-text);
	text-decoration:underline;
}*/

/*.answer-content li {
	margin-bottom: 1em;
}*/
/*Style containers for each FAQ question/answer pair*/
/*.faq-box {
	margin: 10px 0;
}

.faq-box p, ul {
	width: 80%;
}

.faq-box .image {
	width: 100%;
	position: relative;
	margin: 0px auto;
}


.faq-box p, ul, li{
	margin-bottom:  10px 0;
}

.faq-box ul{
	position: relative;
	margin: 0 auto;
	width:  80%;
	list-style: none;
}


.answer-content {
	margin-top: 10px;
	border-bottom: 3px solid #393939;
	padding: 10px 0;
}*/


