

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, *::before, *::after {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: Roboto;
}

/* color variables go here */
:root {
	--background:rgb(57,57,57);
	--header-text:rgb(245,245,245); 
	--link-text: #0066CC;
	--hover-text: #9b33c4;
};

body {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}


/* General Styles */

main {
	padding: 2em; 
}

h2, h3, h4, h5, h6, p {
	margin-bottom: 1em;
}

.separation {
margin-bottom:50px;
}

p a {
color: var(--link-text);
text-decoration:underline;
}

p a:hover {
color: var(--hover-text);
text-decoration:underline;
}




/*i added this because <li> links weren't taking on the color
  and we want it one the site level, or no?
*/
main li a {
color: var(--link-text);
text-decoration:underline;
}

main li a:hover {
color: var(--hover-text);
text-decoration:underline;
}




label {
	font-weight: bold;

}

/* Footer */

footer {
	color: #ccc;
	background-color: #222;
	text-align: center;
	padding: 1em;
}

footer a {
	color: #ccc;
}

footer > p {
	line-height: 1.6;
}

footer > p:nth-child(1) {
	font-size: 1.2rem;
}

footer > p:nth-child(2) {
	font-size: 0.8rem;
}

