/*
These are colors that I need to figure out variables for\
rgb(35,35,35) *** dark grey (my black)
rgb(245,245,245) *** off-white (my white)
canary yellow

*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, *::before, *::after {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: Roboto;
}

/* color variables go here */
:root {
	--background:rgb(57,57,57);
	--dark-text:rgb(245,245,245);
};

body {
	margin:0px;
	padding:0px;
}

/* General Styles */

main {
	padding: 2em; 
}

h2, h3, h4, h5, h6, p {
	margin-bottom: 1em;
}

/* Footer */

footer {
	color: #ccc;
	background-color: #222;
	text-align: center;
	padding: 1em;
}

footer a {
	color: #ccc;
}

footer > p {
	line-height: 1.6;
}

footer > p:nth-child(1) {
	font-size: 1.2rem;
}

footer > p:nth-child(2) {
	font-size: 0.8rem;
}
