/*
These are colors that I need to figure out variables for\
rgb(35,35,35) *** dark grey (my black)
rgb(245,245,245) *** off-white (my white)
canary yellow

*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, *::before, *::after {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: Roboto;
}

/* color variables go here */
:root {
	--background:rgb(57,57,57);
	--dark-text:rgb(245,245,245);
};

body {
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.separation {
margin-bottom:50px;
}

p a {
color:#0066CC;
text-decoration:underline;
}

label {
	font-weight: bold;
}




/* Style the MAP page */

button {
	border: none;
	outline: none;
	border-radius: 3px;
	padding: 3px;
	font-weight: 500;
}

h2 {
	text-align: center;
}


/*Style buttons when pressed*/
.pressed {
	box-shadow:  inset 0px 0px 5px #c1c1c1;
}

.footprint-pressed {
	background-color: #ff4081;
}

.disinfection-pressed {
	background-color: #6242ff;
}

.testing-pressed {
	background-color: #ffe94b;
}

.vaccination-pressed {
	background-color: #1de9b6;
}

.health-center-pressed {
	background-color: #1de9b6;
}

/*Style footprints buttons*/

#footprint-button {
	/*color: var(--dark-text);
	background-color: rgb(34,34,34);*/
}

.footprint-button:hover {
	cursor:  pointer;
	color: var(--background);
	background-color: #ff4081;
}

.footprint-button:active {
	cursor:  pointer;
	color: black;
	background-color: #E2326D;
}

/*Style disinfection buttons*/

#disinfection-button {
	
}

.disinfection-button:hover {
	cursor:  pointer;
	color: var(--background);
	background-color:  #6242ff;
}

.disinfection-button:active {
	cursor:  pointer;
	color: black;
	background-color:  #5238D2;
}

/*#test-hospitals-button {
	
}

#test-hospitals-button:hover{
	cursor:  pointer;
	color: var(--background);
	background-color: #ffe94b;
}

#test-hospitals-button:active {
	cursor:  pointer;
	color: black;
	background-color: #D7C73D;
}

#vaccination-hospitals-button {
	
}

#vaccination-hospitals-button:hover {
	cursor:  pointer;
	color: var(--background);
	background-color: #1de9b6;
}

#vaccination-hospitals-button:active {
	cursor:  pointer;
	color: black;
	background-color: #1CD0A6;
}*/

/*Style health center buttons*/

.health-center-button:hover {
	cursor:  pointer;
	color: var(--background);
	background-color: #1de9b6;
}

.health-center-button:active {
	cursor:  pointer;
	color: black;
	background-color: #1CD0A6;
}

/*Map filter selectors*/
#footprint-selectors {
	border-left: 10px solid #ff4081;
	border-bottom: 2px solid #B3B3B3;
}

#disinfection-selectors {
	border-left:  10px solid #6242ff;
	border-bottom: 2px solid #B3B3B3;
}

/*#testing-selectors {
	border-left: 10px solid #ffe94b;
	border-bottom: 2px solid #B3B3B3;
}

#vaccination-selectors {
	border-left: 10px solid #1de9b6;
	border-bottom: 2px solid #B3B3B3;
}*/

#health-center-selectors {
	border-left: 10px solid #1de9b6;
	border-bottom: 2px solid #B3B3B3;
}


.half-category {
	width: 50%;
}

#page-header {
	text-align: center;
	margin: 20px 0;
}

/* Style the map */

#map {
	position: relative;
	height: 400px;
	width: 80%;
	margin: 20px auto;
}

/* Style the controls containers */

.controls-container {
	position: relative;
	margin: 20px auto;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: top;
}

.selectors-container {
	width: 70%;
	padding: 0 20%;
}

.container {
	width: 70%;
	margin: 10px 20px;
}

/* Style the Footprint controls */

.extra-controls {
	display: flex;
	justify-content: center;
}

.js-input {
	width: 50%;
}

/* Style the Disinfection/Vaccination/Hospital controls */

.category-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.control-label {
	width: 60%;
	height: 16px;
	line-height: 16px;
	display: inline-flex;
	justify-content: left;
	align-items: center;
	gap: 10px;
	font-size: 16px;
}

.control-button {
	height: 40px;
	width: 25%;
}

.hide-show-controls {
	width: 100%;
	display: flex;
	justify-content: center;
}

.hide-show-button {
	width: 100%;
}

.inline-legend {
	height: 16px;
	width: 16px;
}

.js-range-slider {
	color: #6242ff;
}

.hidden {
	display: none;
}

@media all and (max-width: 751px) {

	.container {
		width: 100%;
	}
}