
.separation {
margin-bottom:50px;
}

p a {
color:#0066CC;
text-decoration:underline;
}

label {
	font-weight: bold;
}

/*Container holds search bar, search results, and FAQ content*/
.container {
	/*style the container*/
	width: 90vw;
	position: relative;
	margin: 100px auto;
	/*set flex properties*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*Search bar and search result styles*/
#searchWrapper {
	/*position: relative;
	margin: 0 auto;
	margin-bottom: 20px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%;
}

.searchBar {
	width: 100%;
	margin: 50px 0px 0px;
}

#searchResults {
/*	width: 100%;
*/}

.searchContainer {
	display: flex;
	justify-content: left;
	padding: 5px 0px;
	color: ;
	border-bottom: 0.5px rgba(200,200,200,0.8) solid;
}

.searchLink {
	text-align: left;
	color: #959595;
	text-decoration: none;
}

.searchLink:hover {
	color:#0066CC;
}

@media screen and (min-width: 600px) {
	.container {
		width: 80vw;
	}
}

@media screen and (min-width: 900px) {
	.container {
		width: 70vw;
	}
}



/*FAQ content styles*/

/*for toggling display*/
.hidden {
	display:  none;
}

/*Style FAQ element container*/
.faqContainer {
	width: 100%;
	margin: 25px 0 0;
}

.image {
	width: 100%;
	position: relative;
	margin: 50px auto;
}

.red {
	color: red;
}

/*Style containers for each FAQ question/answer pair*/
.faq-box {
	margin: 10px 0;
}

.faq-box p, ul, li, label{
	margin:  5px 0;
}

.faq-box ul{
	position: relative;
	margin: 0 auto;
	width:  80%;
/*	list-style: none;
*/}

.faq-question {
	padding: 10px 0;
	border-bottom: 3px solid #393939;
	font-weight: bold;
}

.answer-content {
	margin-top: 10px;
	border-bottom: 3px solid #393939;
	padding: 10px 0;
}

.answer-content p img {
	width: 100%;
	position: relative;
	margin: 50px auto;
}

/*.faq-box p, label, ul {
	width: 80%;
}*/